.Footer{
  background: #192a56;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #b0b1b1;
}

.Footer p {
  font-size: 16px;
  color: #f5f6fa;
}


