.Header {
  background: #273c75;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;  
  border-bottom: 1px solid #b0b1b1;
}

.Header h2 {
  font-size: 24px;
  color: #f5f6fa;
}
